<!DOCTYPE html>
<html class = "h-full bg-white">
<head>
  <title>Ruby ÚPVS WebSSO ukážka'</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-visit-control" content="reload">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body class = "h-full">
<%= yield %>
</body>
</html>
